<section ng-controller="WaiterOrdersCatCtrl" zh-widget-events>
	<ul class="zh-sub-categories" ng-show="!$rootScope.searchList">
		<li ng-repeat="category in widget.dataSource.data"
			style="{{category.selected ? 'background-color:white' : 'color:' + idealTextColor(category[widget.colorProperty]) + ';background-color:' + category[widget.colorProperty]}}"
			ng-show="category.visible"
			ng-click="openRow(category)"
			ng-class="{'zh-message-production-bg-selected' : category.selected, 'idprodbloq': category.DISABLED == true}"
			class="{{category.class}}">
			<span>
				<p
					ng-bind="category[widget.labelProperty]"
					ng-class="category.class"
				>
				</p>
			</span>
		</li>
	</ul>
	<!-- workaround -->
	<div
		class="clearfixwaiter"
		style="
	    height: 20px;
	    clear: both;
	">
	</div>
</section>